:root {
  --colorTextPrimary: #333;
  --colorTextSecondary: #b6b6b6;
  --colorTextTertiary: #95e1d3;
  --colorHover: #f38181;
  --colorTextButton: #fff;
  /*Шрифти*/
  --fontTextPrimary: "Montserrat", sans-serif;
  --fontTextSecondary: "Roboto", sans-serif;
}




/*=======================GLOBAL=========================================*/
body {
  font-family: var(--fontTextPrimary);
  color: var(--fontColorPrimary);
  font-size: 14px;
  font-weight: 400;
}
.container {
  max-width: 1230px;
  min-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

/*=======================HEADER=========================================*/
.header {
  padding-top: 17px;
  padding-bottom: 80px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-text {
  color: var(--colorTextTertiary);
  font-size: 30px;
  font-weight: 700;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 55px;
}
.nav-link {
  color: var(--colorTextTertiary);
}
.nav-link:hover {
  color: var(--colorHover);
}

.header-menu {
  display: none;
}
@media (max-width:1199px) {
  .header {
    padding-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .nav-list {
    gap: 30px;
  }
}
@media (max-width: 575px) {
  .nav-list {
    display: none;
  }
  .header-menu {
    display: block;
  }
}
/*========================SERVICES===============================================*/
.services {
  padding-bottom: 100px;
}
.services-title {
  font-size: 30px;
  font-weight: 700;
  font-variant: all-small-caps;
  text-align: center;
  margin-bottom: 105px;
  position: relative;
}
.service-title {
  font-variant: small-caps;
}
.services-title::after {
  content: "";
  width: 60px;
  height: 4px;
  background-color: var(--colorHover);
  position: absolute;
  left: 50%;
  bottom: -40px;
  transform: translateX(-50%);
}
.services-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 70px;
  row-gap: 100px;
  justify-content: space-between;
}
.services-item {
  flex-basis: calc((100% - 140px) / 3);
  max-width: 330px;
}
.service-heading {
  display: flex;
  gap: 20px;
}
.service-photo {
  display: block;
}
.service-text {
  color: var(--colorTextSecondary);
  font-family: var(--fontTextSecondary);
  font-size: 15px;
  line-height: 1.47; /* 146.667% */
  padding-left: 57px;
}

@media (max-width: 1199) {
  .service-title {
    margin-bottom: 85px;
  }
}

@media (max-width: 991px) {
  .service-title {
    margin-bottom: 70px;
  }
  .services-item {
    flex-basis: calc((100% - 1px) / 2);
  }
  .services-list {
    row-gap: 70px;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .services {
    padding-bottom: 70px;
  }
  .service-title {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .services {
    flex-basis: 100%;
  }

  .service-heading {
    flex-direction: row;
    align-items: center;
  }
  .services-title::after {
    display: none;
  }
  .service-title {
    margin-bottom: 15px;
    font-size: 2em;
  }
  .service-text {
    padding-left: 0;
    text-align: center;
  }
}
/*========================TEAM===============================================*/
.team {
  padding-bottom: 80px;
}
.team-title {
  font-size: 30px;
  font-weight: 700;
  font-variant: all-small-caps;
  text-align: center;
  margin-bottom: 85px;
  position: relative;
}
.team-title::after {
  content: "";
  width: 60px;
  height: 4px;
  background-color: var(--colorHover);
  position: absolute;
  left: 50%;
  bottom: -40px;
  transform: translateX(-50%);
}
.team-text {
  color: var(--colorTextSecondary);
  text-align: center;
  font-family: var(--fontTextSecondary);
  font-size: 15px;
  margin-bottom: 27px;
}
.team-list {
  display: flex;
  gap: 30px;
}
.teammete-photo {
  margin-bottom: 30px;
}
.teammete-name {
  font-variant: all-small-caps;
  text-align: center;
  margin-bottom: 11px;
}
.teammete-role {
  color: var(--colorTextSecondary);
  text-align: center;
  font-family: var(--fontTextSecondary);
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
}

@media (max-width: 991px) {
  .team-title {
    margin-bottom: 70px;
  }
  .team-list {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .team {
    padding-bottom: 70px;
  }
  .team-title {
    margin-bottom: 60px;
  }
}


@media (max-width: 575px) {
  .teammete-name {
    font-size: 2em;
  }
  .teammate-role {
    font-size: 2em;
  }
}
/*========================FOOTER===============================================*/
.footer {
  padding-bottom: 10px;
}
.footer-container {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--colorTextSecondary);
}
.footer-info {
  color: var(--colorHover);
}
.subscribe {
  display: flex;
}
.subscribe-mail {
  padding: 12px 10px;
  border: 1px solid var(--colorTextSecondary);
  border-right: 0;
}
.subscribe-mail::placeholder {
  color: var(--colorTextSecondary);
  font-family: var(--fontTextSecondary);
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
}
.subscribe-button {
  color: var(--colorTextButton);
  text-align: center;
  font-family: var(--fontTextPrimary);
  font-size: 14px;
  font-weight: 700;
  font-variant: all-small-caps;
  padding: 12px 38px;
  background-color: var(--colorTextTertiary);
}
@media (max-width: 767px) {
  .footer-container {
    flex-direction: column-reverse;
    gap: 20px;
  }
}

@media (max-width: 575px) {
  .subscribe {
    flex-direction: column;
    flex-grow: 1;
    align-self: stretch;
  }
  .subscribe-mail {
    border: 1px solid var(--colorTextSecondary);
    border-bottom: none;
  }
}